.all-women-goods-wrapper {
	display: flex;
	margin: 25px 0 0;
	.all-women-goods-menu {
		width: 220px;

		.all-women-goods-menu-list {
			display: flex;
			justify-content: space-around;
			list-style-type: none;

			.tab-header__item {
				cursor: pointer;
				font-size: 14px;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #0F303F;
				padding: 0 0 20px 0;
				margin: 0 25px 0 0;
			}

			.active {
				border-bottom: 2px solid #E64926;
			}
		}

		.all-women-goods-content-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.tab-content {
				.tab-content__item {
					display: none;
					text-align: left;
					margin: 0;

					&.active {
						display: block;
					}

					.accordion {
						font-weight: 800;
						font-size: 14px;
						color: #0F303F;
						text-transform: uppercase;
						margin: 30px 0 0;
						position: relative;
						display: block;
						cursor: pointer;

						&:after {
							content: " ";
							height: 1px;
							width: 10px;
							background-color: #0F303F;
							position: absolute;
							top: 50%;
							left: 95%;
							transition: all 0.3s linear;
						}

						&::before {
							content: " ";
							height: 1px;
							width: 10px;
							background-color: #0F303F;
							position: absolute;
							top: 50%;
							left: 95%;
							transform: rotate(90deg);
							transition: all 0.3s linear;
						}

						&.active:before {
							transform: rotate(180deg);
							background-color: #E64926;
							transition: all 0.3s linear;
						}

						&.active::after {
							background-color: #E64926;
							transition: all 0.3s linear;
						}
					}

					.panel {
						max-height: 0;
						overflow: hidden;
						transition: max-height 0.2s ease-out;
						transform: translateY(25px);
						list-style-type: none;

						li {
							margin: 10px 0 0;

							&:first-child {
								margin: 0;
							}

							a {
								text-decoration: none;
								color: #0F303F;
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
}

.goods {
	margin: 0 0 0 30px;
	width: 840px;
	text-align: center;
	h1 {
		font-weight: 500;
		font-size: 25px;
		text-transform: uppercase;
		color: #0F303F;
		text-align: left;
	}

	.filters-desktop {
		margin: 45px 0 0;
		display: flex;

		.filter-item {
			margin: 0 5px 0 0;
			position: relative;

			&:last-child {
				margin: 0;
			}

			.filter-item-button {
				font-family: "Inter", sans-serif;
				font-size: 14px;
				color: #0F303F;
				width: 185px;
				text-align: left;
				padding: 10px 0 10px 15px;
				background-color: transparent;
				border: 1px solid #EAE9E8;
				letter-spacing: 0.05em;
				position: relative;
				cursor: pointer;

				&::after {
					content: " ";
					width: 0;
					height: 0;
					position: absolute;
					border-left: 3px solid transparent;
					border-right: 3px solid transparent;
					border-top: 7px solid #0F303F;
					top: 50%;
					transform: translateY(-50%);
					right: 10%;
					transition: all 0.1s linear;
				}

				&.active:after {
					transform: rotate(180deg);
				}
			}

			.filter-options {
				position: absolute;
				left: 0;
				display: none;
				width: 185px;
				border-left: 1px solid #EAE9E8;
				border-right: 1px solid #EAE9E8;
				z-index: 5;
				background-color: #fff;
				&.active {
					display: block;
				}

				ul {
					list-style-type: none;
					display: flex;
					flex-wrap: wrap;
					padding: 0 5px 0 10px;

					li {
						width: 35px;
						height: 35px;
						text-align: center;
						border: 1px solid #EAE9E8;
						padding: 8px 0;
						font-size: 12px;
						color: #0F303F;
						text-transform: uppercase;
						margin: 10px 0 0 5px;
						cursor: pointer;
						// &.active{
						// 	border: 1px solid #0F303F;
						// }
					}
				}

				.filter-apply-button {
					margin: 20px 0 0;
					width: 100%;
					padding: 10px 0;
					font-size: 14px;
					text-transform: uppercase;
					color: #EAE9E8;
					background-color: #0F303F;
					border: none;
					cursor: pointer;
				}
			}
		}

	}

	.sort-desktop {
		display: flex;
		justify-content: space-between;
		margin: 25px 0 0;
		.goods-amount,
		.sort-list-title {
			font-size: 14px;
			color: #0F303F;
			opacity: 0.3;
		}
		.sort-list {
			display: flex;
			.sort-select-form{
				position: relative;
				// width: 80px;
				&::after{
					content: " ";
					width: 0;
					height: 0;
					position: absolute;
					border-left: 3px solid transparent;
					border-right: 3px solid transparent;
					border-top: 6px solid #0F303F;
					top: 50%;
					transform: translateY(-50%);
				}
				.sort-desktop-items {
					font-size: 14px;
					color: #0F303F;
					border: none;
					background-color: transparent;
					appearance: none;
					max-width: 150px;
					option{
						background-color: white;
						color: #0F303F;
						font-size: 12px;
						padding: 0;
					}
				}
			}
		}
	}
	.goods-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.goods-list-item{
			width: 230px;
			text-align: center;
			margin: 40px 0 0;
			.goods-list-item-img{
				position: relative;
				&::after{
					content: url('../img//all-women-goods/like-icon.svg');
					position: absolute;
					bottom: 5%;
					right: 5%;
					background-color: #fff;
					padding: 10px 10px 5px 10px;
					border-radius: 50%;
				}
				img{
					width: 230px;
				}
			}
			.goods-list-item-title{
				margin: 20px 0 0;
				a{
					font-weight: 500;
					font-size: 14px;
					text-transform: uppercase;
					color: #0F303F;
					text-decoration: none;
				}
				@media (min-width:768px) {
					margin: 15px 0 0;
					font-size: 18px;
				}
			}
			.goods-list-item-text{
				font-weight: 300;
				font-size: 14px;
				text-transform: capitalize;
				color: #0F303F;
				margin: 5px 0 0;
				@media (min-width:768px) {
					font-size: 16px;
				}
			}
			.goods-list-item-price{
				margin: 5px 0 0;
				.main-price{
					display: inline-block;
					font-family: 'Jost';
					font-weight: 500;
					font-size: 13px;
					letter-spacing: 0.045em;
					text-transform: uppercase;
					color: #CECECE;
					text-decoration: line-through;
					@media (min-width:768px) {
						font-size: 14px;
					}
				}
				.sale-price{
					display: inline-block;
					font-family: 'Jost';
					font-weight: 500;
					font-size: 13px;
					letter-spacing: 0.045em;
					text-transform: uppercase;
					color: #FD5454;
					@media (min-width:768px) {
						font-size: 14px;
					}
				}
			}
		}
	}
	.more-goods{
		margin: 65px 0 0;
		display: inline-block;
		padding: 10px 25px;
		font-weight: 800;
		text-align: center;
		text-transform: uppercase;
		color: #EAE9E8;
		background-color: #0F303F;
		border: none;
		cursor: pointer;
		letter-spacing: 0.1em;
	}
}
.footer{
	padding: 0;
	margin: 50px 0 0;
}