@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	object-fit: cover;
}
body, html {
	height: 100%;
}
body {
   font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}
.container{
	max-width: 1440px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	@media (min-width:768px) {
		padding: 0 20px;
	}
	@media (min-width:1440px) {
		padding: 0 50px;
	}
}
.page-holder {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	position: relative;
}
body.lock {
	overflow: hidden;
}
.header{
	position: relative;
	padding: 20px 0;
	background-color: #E5E5E5;
	@media (min-width:1440px) {
		padding: 20px 0 0;
	}
	.header-wrapper{
		display: flex;
		justify-content: space-between;
		.nav-desktop{
			list-style-type: none;
			display: none;
			@media (min-width:1440px) {
				display: flex;
			}
			li{
				cursor: pointer;
				margin: 0 45px 0 0;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #0F303F;
				&:last-child{
					margin: 0;
					color: #B7C1C5;
				}
			}
			.women{
				padding: 0 0 25px 0;
				&:hover{
					border-bottom: 2px solid #E64926;;
				}
				&:hover .women-menu{
					display: block;
				}
				.women-menu{
					display: none;
					position: absolute;
					z-index: 5;
					width: 100vw;
					background-color: #fff;
					top: 100%;
					left: 50%;
					transform: translate(-50%);
					.women-menu-wrapper{
						display: flex;
						justify-content: center;
						.women-menu-item{
							padding: 50px 50px 35px 35px;
							border-right: 1px solid #EAE9E8;
							border-bottom: 1px solid #EAE9E8;
							&:last-child{
								margin-right: 0;
								border-right: none;
							}
							&:first-child{
								margin-left: 0;
							}
							h3{
								font-weight: 700;
								font-size: 14px;
								color: #0F303F;
							}
							ul{
								list-style-type: none;
								margin: 20px 0 0;
								li{
									position: relative;	
									transition: all 0.1s linear;							
									&:hover{
										&:before{
											content: " ";
											height: 5px;
											width: 5px;
											background-color: #E64926;
											border-radius: 100%;
											position: absolute;
											left: -1%;
											top: 50%;
										}
									}
									a{
										font-weight: 500;
										font-size: 14px;
										color: #0F303F;
										text-decoration: none;
										text-transform: none;
										display: inline-block;
										transition: all 0.1s linear;
										&:hover{
											color: #E64926;
											transform: translateX(10px);
										}
									}
								}
							}
						}
					}
					.women-menu-footer{
						display: flex;
						justify-content: center;
						list-style-type: none;
						padding: 20px 0 25px;
						li{
							margin: 0 40px 0 0;
							&:last-child{
								margin: 0;
							}
							a{
								text-decoration: none;
								font-size: 12px;
								color: #254A5A;
								letter-spacing: 0.1em;
								text-transform: uppercase;
								transition: all 0.1s linear;
								&:hover{
									color: #E64926;
								}
							}
						}
					}
				}
			}
		}
		.desktop-search{
			display: none;
			margin: 0 0 0 -130px;
			@media (min-width:1440px) {
				display: block;
			}
			label{
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #0F303F;
			}
			input[type=search]{
				border-bottom: 1px solid #0F303F;
				border-left: none;
				border-right: none;
				border-top: none;
				outline: none;
				display: inline-block;
				margin: 0 0 0 20px;
				background-color: #E5E5E5;
				&:focus{
					border-bottom: 1px solid #E64926;
				}
			}
		}
		.languages{
			list-style-type: none;
			display: none;
			@media (min-width:1440px) {
				display: flex;
			}
			li{
				margin: 0 20px 0 0;
				&:last-child{
					margin: 0;
				}
				&:first-child{
					position: relative;
					a{
						color: #E64926;
					}
					&::after{
						content: " ";
						width: 25px;
						height: 2px;
						background-color: #E64926;
						position: absolute;
						bottom: 0;
						left: 0;
						z-index: 5;
					}
				}
				a{
					letter-spacing: 0.1em;
					text-transform: uppercase;
					color: #0F303F;
					text-decoration: none;
				}
			}
		}
		.header-icons{
			list-style-type: none;
			display: flex;
			li{
				margin: 0 20px 0 0;
				&:last-child{
					margin: 0;
				}
			}
			.nav-button{
				height: 18px;
				width: 20px;
				display: block;
				position: relative;
				cursor: pointer;
				@media (min-width:1440px) {
					display: none;
				}
				&:before{
					content: '';
					width: 20px;
					height: 1.5px;
					background-color: #0F303F;
					position: absolute;
					z-index: 5;
					top: 25%;
				}
				&:after{
					content: '';
					width: 10px;
					height: 1.5px;
					background-color: #0F303F;
					position: absolute;
					z-index: 5;
					top: 60%;
					right: 0;
				}
			}
			.nav-mobile{
				padding: 0 15px;
				overflow: auto;
				position: absolute;
				width: 100vw;
				height: 90vh;
				top: -1500%;
				left: 50%;
				transform: translate(-50%);
				background-color: #fff;
				z-index: 10;
				transition: all 0.5s linear;
				&.active {
					top: 100%;
				}
				.nav-mobile-sex{
					display: flex;
					justify-content: center;
					list-style-type: none;
					padding: 50px 0 0;
					.tab-header__item{
						cursor: pointer;
						font-size: 14px;
						letter-spacing: 0.1em;
						text-transform: uppercase;
						color: #0F303F;
						padding: 0 0 20px 0;
					}
					.active{
						border-bottom: 2px solid #E64926;
					}
				}
				.tab-content{
					.tab-content__item {
						display: none;
						text-align: center;
						.accordion{
							font-weight: 800;
							font-size: 14px;
							color: #0F303F;
							text-transform: uppercase;
							margin: 50px 0 0;
						}
						.panel{
							max-height: 0;
   						overflow: hidden;
    						transition: max-height 0.2s ease-out;
							transform: translateY(25px);
							list-style-type: none;
							li{
								margin: 10px 0 0;
								&:first-child{
									margin: 0;
								}
								a{
									text-decoration: none;
									color: #0F303F;
									font-size: 14px;
								}
							}

						}
					}
					.tab-content__item.active {
						display: block;
					}
				}
				.mobile-search-and-language{
					display: flex;
					
					margin: 50px 0 0;
					.mobile-search{
						display: block;
						label{
							letter-spacing: 0.1em;
							text-transform: uppercase;
							color: #0F303F;
						}
						input[type=search]{
							width: 180px;
							margin: 0 10px;
							border-bottom: 1px solid #0F303F;
							border-left: none;
							border-right: none;
							border-top: none;
							outline: none;
							display: inline-block;
							background-color: transparent;
							&:focus{
								border-bottom: 1px solid #E64926;
							}
						}
					}
					.mobile-languages{
						list-style-type: none;
						display: flex;
						justify-content: space-between;
						li{
							&:first-child{
								position: relative;
								a{
									color: #E64926;
								}
								&::after{
									content: " ";
									width: 25px;
									height: 2px;
									background-color: #E64926;
									position: absolute;
									bottom: -100%;
									left: 0;
								}
							}
							a{
								letter-spacing: 0.1em;
								text-transform: uppercase;
								color: #0F303F;
								text-decoration: none;
							}
						}
					}
				}
				.mobile-menu-footer{
					list-style-type: none;
					margin: 50px 0 0;
					display: flex;
					justify-content: center;
					li{
						margin: 0 15px 0 0;
						&:last-child{
							margin: 0;
						}
						a{
							text-decoration: none;
							font-size: 8px;
							letter-spacing: 0.1em;
							text-transform: uppercase;
							color: #254A5A;
						}
					}
				}
			}
		}
	}
}
.banner{
		width: 100vw;
		position: relative;
		top: 0;
		left: 50%;
		transform: translate(-50%);
	.banner-item{
		min-height: 90vh;
		background-repeat: no-repeat;
		background-size: cover;		
		background-position: center;
		padding: 150px 0 0 50px;
		@media (min-width:1440px) {
			min-height: 650px;
		}
		p{
			font-family: 'Cormorant Garamond';
			font-weight: 500;
			text-transform: uppercase;
			color: #0F303F;
			font-size: 20px;
		}
		h2{
			margin: 20px 0 0;
			font-family: 'Cormorant Garamond';
			font-weight: 500;
			text-transform: uppercase;
			color: #0F303F;
			font-size: 40px;
		}
		a{
			text-decoration: none;
			color: #fff;
			display: block;
			margin: 35px 0 0;
			text-transform: uppercase;
			letter-spacing: 0.045em;
			color: #E64926;
			transition: all 0.1s linear;
			&:hover{
				color: #0F303F;
				text-decoration: underline;
			}
		}
	}
	.slick-dots{
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translate(-50%);
		list-style-type: none;
		display: flex;
		li{
			margin: 0 50px 0 0;
			&:last-child{
				margin: 0;
			}
			button{
				background-color: transparent;
				border: none;
				color: rgb(234, 233, 232, 0.3);
				font-size: 17px;
				font-family: 'Tajawal';
				letter-spacing: 0.1em;
				cursor: pointer;
			}
		}
		.slick-active button{
			color: rgb(234, 233, 232, 1);
		}
	}
	.banner-main{
		padding: 180px 0 0;
		text-align: center;
		background-image: url(../img/banner/banner-mobile.jpg);
		@media (min-width:992px) {
			background-image: url(../img/banner/first-banner.jpg);
		}
		p{
			font-family: 'Cormorant';
			font-weight: 500;
			text-transform: uppercase;
			font-size: 20px;
			color: #EAE9E8;
		}
		h1{
			margin: 20px 0 0;
			font-family: 'Cormorant';
			font-weight: 500;
			text-transform: uppercase;
			font-size: 30px;
			color: #EAE9E8;
			@media (min-width:768px) {
				font-size: 40px;
			}
		}
		a{
			text-decoration: none;
			color: #fff;
			display: block;
			margin: 35px 0 0;
			text-transform: uppercase;
			letter-spacing: 0.045em;
			color: #EAE9E8;
			transition: all 0.1s linear;
			&:hover{
				color: #0F303F;
				text-decoration: underline;
			}
		}
	}
}