@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/all-women-goods';
@import 'blocks/good-card';

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	object-fit: cover;
}
body, html {
	height: 100%;
}
body {
   font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}
.main{
	padding: 61px 0 0;
}
.container{
	max-width: 1440px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	@media (min-width:768px) {
		padding: 0 20px;
	}
	@media (min-width:1440px) {
		padding: 0 10px;
	}
}
.page-holder {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	position: relative;
}
body.lock {
	overflow: hidden;
}
.banner{
		width: 100vw;
		position: relative;
		top: 0;
		left: 50%;
		transform: translate(-50%);
	.banner-item{
		min-height: 90vh;
		background-repeat: no-repeat;
		background-size: cover;		
		background-position: center;
		padding: 150px 0 0 50px;
		@media (min-width:1440px) {
			min-height: 650px;
		}
		p{
			font-family: 'Cormorant Garamond';
			font-weight: 500;
			text-transform: uppercase;
			color: #0F303F;
			font-size: 20px;
		}
		h2{
			margin: 20px 0 0;
			font-family: 'Cormorant Garamond';
			font-weight: 500;
			text-transform: uppercase;
			color: #0F303F;
			font-size: 40px;
		}
		a{
			text-decoration: none;
			color: #fff;
			display: block;
			margin: 35px 0 0;
			text-transform: uppercase;
			letter-spacing: 0.045em;
			color: #E64926;
			transition: all 0.1s linear;
			&:hover{
				color: #0F303F;
				text-decoration: underline;
			}
		}
	}
	.slick-dots{
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translate(-50%);
		list-style-type: none;
		display: flex;
		li{
			margin: 0 50px 0 0;
			&:last-child{
				margin: 0;
			}
			button{
				background-color: transparent;
				border: none;
				color: rgb(234, 233, 232, 0.3);
				font-size: 17px;
				font-family: 'Tajawal';
				letter-spacing: 0.1em;
				cursor: pointer;
				&.active{
					color: rgb(37, 74, 90, 0.3);
				}
			}
		}
		.slick-active button{
			color: rgb(234, 233, 232, 1);
			&.active{
				color: rgb(37, 74, 90, 1);
			}
		}
	}
	.banner-main{
		padding: 180px 0 0;
		text-align: center;
		background-image: url(../img/banner/banner-mobile.jpg);
		@media (min-width:992px) {
			background-image: url(../img/banner/first-banner.jpg);
		}
		p{
			font-family: 'Cormorant';
			font-weight: 500;
			text-transform: uppercase;
			font-size: 20px;
			color: #EAE9E8;
		}
		h1{
			margin: 20px 0 0;
			font-family: 'Cormorant';
			font-weight: 500;
			text-transform: uppercase;
			font-size: 30px;
			color: #EAE9E8;
			@media (min-width:768px) {
				font-size: 40px;
			}
		}
		a{
			text-decoration: none;
			color: #fff;
			display: block;
			margin: 35px 0 0;
			text-transform: uppercase;
			letter-spacing: 0.045em;
			color: #EAE9E8;
			transition: all 0.1s linear;
			&:hover{
				color: #0F303F;
				text-decoration: underline;
			}
		}
	}
}
.new-arrival{
	position: relative;
	&:before{
		content: " ";
		background-color: #CEC6C4;
		background-size: cover;
		width: 100vw;
		top: 0;
		bottom: 0;
		position: absolute;
		z-index: -10;
		left: 50%;
		transform: translate(-50%);
	}
	.new-arrival-content{
		display: block;
		@media (min-width:1440px) {
			display: flex;
		}
		.new-arrival-content-about{
			position: relative;
			padding: 125px 40px 225px;
			width: 100vw;
			background-image: url("../img/new-arrival/new-arrival-content-about.jpg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			top: 0;
			left: 50%;
			transform: translate(-50%);
			@media (min-width:1440px) {
				width: 640px;
				padding: 150px 0 0;
				transform: none;
				background: none;
				left: 0;
				&::before{
					content: url("../img/new-arrival/new-arrival-content-about.jpg");
					position: absolute;
					z-index: -5;
					top: 0;
					bottom: 0;
					left: -13%;
				}
			}
			h4{			
				font-family: 'Cormorant Garamond';
				font-weight: 500;
				font-size: 50px;
				text-transform: uppercase;
				color: #FFFFFF;
				@media (min-width:768px) {
					font-size: 90px;
				}
			}
			p{
				width: 75%;
				margin: 15px 0 0;
				font-size: 14px;
				color: #FFF;
			}
			a{
				display: inline-block;
				text-decoration: none;
				margin: 35px 0 0;
				letter-spacing: 0.045em;
				text-transform: uppercase;
				color: #EAE9E8;
				transition: all 0.1s linear;
				@media (min-width:1440px) {
					&:hover{
						color: #0F303F;
						text-decoration: underline;
					}
				}
			}
		}
		.new-arrival-content-more-info{
			padding: 50px 0 50px;
			width: 100%;
			text-align: center;
			position: relative;
			@media (min-width:1440px) {
				width: calc(100% - 640px);
				margin: 0;
				padding: 50px 0 45px;
			}
			.new-arrival-content-more-info-img{
				position:relative;
				padding: 90px 0;
				@media (min-width:768px) {
					padding: 90px 85px;
				}
				@media (min-width:1440px) {
					padding: 0;
				}
				&::before{
					content: " ";
					background-color: #fff;
					top: 0;
					bottom: 0;
					left: 50%;
					transform: translate(-50%);
					position: absolute;
					width: 100vw;
					z-index: -5;
					@media (min-width:768px) {
						display: none;
					}
				}
				img{
					width: 316px;
					@media (min-width:768px) {
						width: 380px;
						height: 380px;
						box-sizing: content-box;
						border: 110px solid #fff;
					}
				}
			}
			p{
				position: absolute;
				color: #fff;
				font-size: 14px;
				top: 60%;
				width: 260px;
				left: 50%;
				transform: translate(-50%);
				@media (min-width:768px) {
					width: 310px;
				}
				@media (min-width:1440px) {
					top: 70%;
					width: 350px;
				}
			}
		}
	}
}
.popular{
	padding: 70px 0 115px;
	text-align: center;
	position: relative;
	&::before{
		content: url('../img/popular/popular-logo.svg');
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		bottom: 1%;
		z-index: 10;
		background-color: #fff;
		padding: 0 20px;
		@media (min-width:1440px) {
			bottom: 8%;
			padding: 0 25px;
		}
	}
	&::after{
		content: " ";
		background: #EAE9E8;
		height: 1px;
		width: 100vw;
		position: absolute;
		bottom: 1.3%;
		left: 50%;
		transform: translate(-50%);
		z-index: 5;
		@media (min-width:1440px) {
			bottom: 9%;
		}
	}
	@media (min-width:768px) {
		padding: 100px 0 110px ;
	}
	@media (min-width:1440px) {
		padding: 120px 100px 200px;
	}
	h5{
		font-family: 'Cormorant';
		font-size: 30px;
		letter-spacing: 0.045em;
		text-transform: uppercase;
		color: #0F303F;
	}
	.popular-slider{
		position: relative;
		margin: 30px 0 0;
		@media (min-width:768px) {
			margin: 40px 0 0;
		}
		@media (min-width:1440px) {
			margin: 75px 0 0;
		}
		.slick-arrow{
			position: absolute;
			width: 50px;
			height: 50px;
			top: 30%;
			z-index: 5;
			background-color: #FFF;
			border-radius: 50%;
			border: none;
			color: transparent;
			@media (min-width:768px) {
				width: 70px;
				height: 70px;
			}
			@media (min-width:1440px) {
				width: 90px;
				height: 90px;
				cursor: pointer;
			}
		}
		.slick-prev{
			left: -5%;
			@media (min-width:450px) {
				left: 0;
			}
			@media (min-width:535px) {
				left: 3%;
			}
			@media (min-width:605px) {
				left: 5%;
			}
			@media (min-width:660px) {
				left: 7%;
			}
			@media (min-width:735px) {
				left: 9%;
			}
			@media (min-width:768px) {
				left: -5%;
			}
			@media (min-width:855px) {
				left: -2%;
			}
			@media (min-width:967px) {
				left: 0%;
			}
			@media (min-width:1075px) {
				left: 2%;
			}
			@media (min-width:1201px) {
				left: 0%;
			}
			@media (min-width:1440px) {
				left: -1%;
			}
			&::before{
				content: " ";
				height: 15px;
				width: 15px;
				border-bottom: 1px solid #0F303F;
				border-left: 1px solid #0F303F;
				position: absolute;
				z-index: 10;
				transform: rotate(45deg);
				left: 50%;
				@media (min-width:768px) {
					height: 20px;
					width: 20px;
				}
				@media (min-width:1440px) {
					height: 25px;
					width: 25px;
				}
			}
		}
		.slick-next{
			right: -5%;
			@media (min-width:450px) {
				right: 0;
			}
			@media (min-width:535px) {
				right: 3%;
			}
			@media (min-width:605px) {
				right: 5%;
			}
			@media (min-width:660px) {
				right: 7%;
			}
			@media (min-width:735px) {
				right: 9%;
			}
			@media (min-width:768px) {
				right: -5%;
			}
			@media (min-width:855px) {
				right: -2%;
			}
			@media (min-width:967px) {
				right: 0%;
			}
			@media (min-width:1075px) {
				right: 2%;
			}
			@media (min-width:1201px) {
				right: 0%;
			}
			@media (min-width:1440px) {
				right: -1%;
			}
			&::before{
				content: " ";
				height: 15px;
				width: 15px;
				border-bottom: 1px solid #0F303F;
				border-right: 1px solid #0F303F;
				position: absolute;
				z-index: 10;
				transform: rotate(-45deg);
				right: 50%;
				@media (min-width:768px) {
					height: 20px;
					width: 20px;
				}
				@media (min-width:1440px) {
					height: 25px;
					width: 25px;
				}
			}
		}
		.popular-slider-item-wrapper{
			.popular-slider-item{
				width: 165px;
				margin: 0 auto;
				text-align: center;
				@media (min-width:768px) {
					width: 230px;
				}
				.popular-slider-item-img{
					img{
						width: 165px;
						@media (min-width:768px) {
							width: 230px;
						}
					}
				}
				.popular-slider-item-title{
					margin: 20px 0 0;
					a{
						font-family: 'Jost';
						font-weight: 500;
						font-size: 14px;
						text-transform: uppercase;
						color: #0F303F;
						text-decoration: none;
					}
					@media (min-width:768px) {
						margin: 15px 0 0;
						font-size: 18px;
					}
					@media (min-width:1440px) {
						margin: 30px 0 0;
					}
				}
				.popular-slider-item-text{
					font-weight: 300;
					font-size: 14px;
					text-transform: capitalize;
					color: #0F303F;
					margin: 5px 0 0;
					@media (min-width:768px) {
						font-size: 16px;
					}
				}
				.popular-slider-item-price{
					margin: 5px 0 0;
					.main-price{
						display: inline-block;
						font-family: 'Jost';
						font-weight: 500;
						font-size: 13px;
						letter-spacing: 0.045em;
						text-transform: uppercase;
						color: #CECECE;
						text-decoration: line-through;
						@media (min-width:768px) {
							font-size: 14px;
						}
					}
					.sale-price{
						display: inline-block;
						font-family: 'Jost';
						font-weight: 500;
						font-size: 13px;
						letter-spacing: 0.045em;
						text-transform: uppercase;
						color: #FD5454;
						@media (min-width:768px) {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}
.about-us{
	padding: 70px 0 70px 35px;
	position: relative;
	@media (min-width:768px) {
		padding: 140px 0 129px;	
		margin: 0 0 150px 0;
	}
	@media (min-width:1200px) {
		margin: 0 0 180px 0;
	}
	@media (min-width:1440px) {
		padding: 45px 140px 0;
		margin: 0 0 80px 0;
		min-height: 500px;
	}
	&::before{
		content: ' ';
		background-color: #254A5A;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
		width: 100vw;
		z-index: -5;
	}
	&::after{
		content: url('../img/about-us/about-us-decorate.png');
		position: absolute;
		z-index: 5;
		top: -5%;
		right: 5%;
		@media (min-width:768px) {
			top: -1%;
			right: 20%;	
		}
		@media (min-width:1440px) {
			content: ' ';
			width: 123px;
			height: 116px;
			background-color: transparent;
			border: 1px solid #fff;
			border-radius: 50%;
			position: absolute;
			z-index: -1;
			top: -1%;
			border-right-color: transparent;
			transform: rotate(80deg);
			left: 54%;
		}

	}
	.about-us-content{
	
		@media (min-width:1440px) {
			display: flex;
			justify-content: space-between;
		}
		.about-us-content-info{
			
			@media (min-width:768px) {
				max-width: 500px;
				margin: 0 auto;
			}
			@media (min-width:1440px) {
				padding: 50px 0 0;
				margin: 0 75px 0 0;
			}
			h4{
				font-family: 'Cormorant Garamond';
				font-weight: 400;
				font-size: 50px;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #EAE9E8;
				line-height: 0.7em;
				position: relative;
				&::first-letter{
					font-size: 30px;
				}
				&::after{
					content: " ";
					width: 318px;
					height: 1px;
					background-color: #fff;
					position: absolute;
					z-index: -1;
					transform: rotate(-60deg);
					left: 104%;
					bottom: 120%;
					display: none;
					@media (min-width:1440px) {
						display: block;
					}
				}
				@media (min-width:768px) {
					font-size: 90px;
				}
			}
			p{
				margin: 20px 0 0;
				font-family: 'Avenir';
				font-size: 14px;
				color: #FFFFFF;
				line-height: 1.7em;
			}
		}
		.about-us-content-image{
			display: none;
			@media (min-width:768px) {
				display: block;
				text-align: right;
				margin: 50px 70px -310px 0;
			}
			@media (min-width:1200px) {
				margin-right: 150px;
			}
			@media (min-width:1440px) {
				margin: 0 0 -100px 0;
			}
			img{
				@media (min-width:768px) {
				width: 226px;
				height: 258px;
				}
				@media (min-width:1440px) {
					width: 474px;
					height: 543px;
				}
			}
		}
	}

}
